.welcome {
    text-align: center;
}

.welcome ion-img{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.welcome ion-label{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
}

.welcome p{
    font-size: 1rem;
}